<%= form_for(your_task) do |f| %>
  <% if your_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(your_task.errors.count, "error") %> prohibited this your_task from being saved:</h2>

      <ul>
      <% your_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_id %>
    <%= f.text_field :task_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
