<p id="notice"><%= notice %></p>

<p>
  <strong> id:</strong>
  <%= @your_task. id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @your_task.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @your_task.status %>
</p>

<p>
  <strong>Project:</strong>
  <%= @your_task.project_id %>
</p>

<%= link_to 'Edit', edit_your_task_path(@your_task) %> |
<%= link_to 'Back', root_path %>
